body {
  margin: 0;
  /* font-family: 'Segoe UI', sans-serif; */
  font-family: 'Clash Grotesk', sans-serif;
  background-color: #000;
  color: white;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: bold;
  font-size: 20px;
  padding-left: 5%;
}
.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 14px;
}
.nav-links li:hover{
  color: #00ffff;
}
.social-icons a {
  margin-left: 12px;
  color: #fff;
  font-size: 20px;
  transition: color 0.3s;
  
}

.social-icons a:hover {
  color: #00ffff;
}